<%- model_class = Soldier -%>
<%- model_class_tr = SoldierTranslation -%>

<div id="thumbs" class="clear">
  <ul>
    <% @soldiers.each do |soldier| %>
      <li>
        <a href="javascript:;" data-id="<%= soldier.id %>" data-name="<%= soldier.full_name %>"
      data-age="<%= soldier.age%>" data-gender="<%= soldier.gender %>" data-rank="<%= soldier.rank %>" 
      data-incident-type="<%= soldier.incident_type %>" data-incident-description="<%= soldier.incident_description %>"
      data-country="<%= soldier.country_died %>" data-date-died="<%= soldier.died_at.beginning_of_month %>" 
      data-served-with="<%= soldier.served_with%>" data-permalink="<%=soldier.permalink%>">
          <%= image_tag soldier.img_bw.url, :alt => soldier.full_name, :title => soldier.full_name %>
          <%= image_tag soldier.img.url, :alt => soldier.full_name, :title => soldier.full_name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>


<div id="soldier_profiles">
<% @soldiers.each do |soldier| %>
  <div id="soldier_profile_<%=soldier.id%>" class="soldier_profile row-fluid" data-id="<%= soldier.id %>">
    <div class="soldier_photo span1"></div>
    <div class="soldier_photo span2">
      <%= image_tag soldier.img.url, :alt => soldier.full_name %>
    </div>
    <div class="soldier_bio span6">
      <h2>
        <%= soldier.full_name %>
        <div class="social_profile">
          <img src="/assets/share_shr.png" />
          <div class="social_profile_hover">
            <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_counter addthis_pill_style" addthis:title='<%= "#{soldier.full_name} | #{I18n.t("app.common.app_name")}" %>'></a>
            </div>
          </div>
        </div>
      </h2>
      <div class="row-fluid">
        <div class="span6">
          <ul>
            <li>
              <strong><%= model_class.human_attribute_name(:age) %>:</strong>
              <%= soldier.age %>
            </li>
            <li>
              <strong><%= model_class.human_attribute_name(:gender) %>:</strong>
              <%= soldier.gender %>
            </li>
            <li>
              <strong><%= t('.hometown') %>:</strong>
              <%= soldier.place_from %>
            </li>
            <li>
              <strong><%= model_class_tr.human_attribute_name(:rank) %>:</strong>
              <%= soldier.rank %>
            </li>
            <li>
              <strong><%= model_class_tr.human_attribute_name(:served_with) %>:</strong>
              <%= soldier.served_with %>
            </li>
          </ul>
        </div>
        <div class="soldier_incident span4">
          <ul>
            <li>
              <strong><%= t('.incident') %>:</strong>
              <%= soldier.incident_type %>
              -
              <%= soldier.incident_description %>
            </li>
            <li>
              <strong><%= t('.location') %>:</strong>  
              <%= soldier.place_died.present? ? "#{soldier.place_died}, #{soldier.country_died}" : soldier.country_died %>
            </li>
            <li>
              <strong><%= t('.date') %>:</strong>  
              <%= l soldier.died_at, :format => :long if soldier.died_at.present? %>
            </li>
            <% if user_signed_in? && current_user.role?(User::ROLES[:user]) %>
              <li>
                <%= link_to t('helpers.links.edit'), edit_admin_soldier_path(soldier.id), :class => 'btn btn-mini' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="soldier_nav span2">
      <ul>
        <li class="soldier_nav_close">
          <a href="javascript:;">
            <%= image_tag "x.jpg", :alt => 'close', :title => 'close' %>
            <%= image_tag "x_hover.jpg", :alt => 'close', :title => 'close' %>
          </a>
        </li>
        <li class="soldier_nav_next">
          <a href="javascript:;">
            <%= image_tag ">.jpg", :alt => 'next', :title => 'next' %>
            <%= image_tag ">_hover.jpg", :alt => 'next', :title => 'next' %>
          </a>
        </li>
        <li class="soldier_nav_previous">
          <a href="javascript:;">
            <%= image_tag "<.jpg", :alt => 'previous', :title => 'previous' %>
            <%= image_tag "<_hover.jpg", :alt => 'previous', :title => 'previous' %>
          </a>
        </li>
      </ul>
    </div>
  </div>
<% end %>
</div>

<div id="maps">
  <div id="map_container">
    <div id="map_georgia_container">
      <h3><%= t('.map_georgia_header') %></h3>
      <div id="map_georgia"></div>
    </div>
    <div id="map_afghan_container">
      <h3><%= t('.map_afghan_header') %></h3>
      <div id="map_afghan"></div>
    </div>
    <div id="map_iraq_container">
      <h3><%= t('.map_iraq_header') %></h3>
      <div id="map_iraq"></div>
    </div>
  </div>
  <div id="map_legend">
    <div>
      <span class="map_color0"></span>
      0
    </div>
    <div>
      <span class="map_color1"></span>
      1
    </div>
    <div>
      <span class="map_color2"></span>
      2
    </div>
    <div>
      <span class="map_color3"></span>
      3-6
    </div>
    <div>
      <span class="map_color4"></span>
      7-10
    </div>
    <div>
      <span class="map_color5"></span>
      > 10
    </div>
<!--    
    <div>
      <span class="map_color0"></span>
      0
    </div>
    <div>
      <span class="map_color1"></span>
      1
    </div>
    <div>
      <span class="map_color2"></span>
      2
    </div>
    <div>
      <span class="map_color3"></span>
      3
    </div>
    <div>
      <span class="map_color4"></span>
      4
    </div>
    <div>
      <span class="map_color5"></span>
      5
    </div>
    <div>
      <span class="map_color6"></span>
      6
    </div>
    <div>
      <span class="map_color7"></span>
      7
    </div>
    <div>
      <span class="map_color8"></span>
      8
    </div>
    <div>
      <span class="map_color9"></span>
      9
    </div>
    <div>
      <span class="map_color10"></span>
      >10
    </div>
-->    
  </div>
</div>

<div id="charts">
  <div id="chart_gender"></div>
  <div id="chart_age"></div>
  <div id="chart_country"></div>
  <div id="chart_incident_description"></div>

  <%
=begin
   if @num_incidents > 0 %>
    <% for i in 0..@num_incidents-1 %>
      <div id="chart_incident_type_<%= i %>"></div>
    <% end %>
  <% end %>
<%
=end %>
  <div id="chart_rank"></div>
  <div id="chart_served_with"></div>
  <div id="chart_date_died"></div>
</div>  



