<%- model_class = Soldier -%>
<%- model_class_tr = SoldierTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
  <%= link_to t('helpers.links.new'),
              new_admin_soldier_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn' %>
</div>

<table class="table table-striped display" id="soldiers-datatable" data-source="<%= admin_soldiers_url(:format => :json) %>">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class_tr.human_attribute_name(:name) %></th>
      <th><%= model_class_tr.human_attribute_name(:rank) %></th>
      <th><%= model_class_tr.human_attribute_name(:served_with) %></th>
      <th><%= model_class_tr.human_attribute_name(:country_died) %></th>
      <th><%= model_class_tr.human_attribute_name(:place_died) %></th>
      <th><%= model_class_tr.human_attribute_name(:incident_type) %></th>
      <th><%= model_class_tr.human_attribute_name(:incident_description) %></th>
      <th><%= model_class.human_attribute_name(:died_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
</table>


